{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HurtStats</title>
    <link href="{% static "styles/font-awesome.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "styles/bootstrap.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "styles/style.css" %}" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="{% static "js/jquery-1.11.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/filtertable.js" %}"></script>

</head>
<body>
{% block body %}

{% endblock %}
</body>


</html>