{% extends "Base.html" %}

{% block body %}

    <div class="container">
    <div class="col-md-12">
        <div class="panel panel-primary" style="margin-top: 10px">
					<div class="panel-heading">
						<h3 class="panel-title">Jugadores</h3>
						<div class="pull-right">
							<span class="clickable filter" data-toggle="tooltip" title="Filtrar" data-container="body" id="container">
								<i class="glyphicon glyphicon-filter"></i>
							</span>
						</div>
					</div>
					<div class="panel-body">
						<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filtrar" />
					</div>
					<table class="table table-hover" id="dev-table">
						<thead>
							<tr>
								<th style="font-size: 20px;">#</th>
								<th style="font-size: 20px;">Usuario</th>
                                <th style="font-size: 20px;">Clan</th>
{#                                <th style="font-size: 25px;">☠</th>#}
                                <th style="font-size: 20px;">$</th>
                                {% if isadmin %}
                                    <th style="font-size: 20px;">id</th>
                                    <th style="font-size: 20px;">ip</th>
                                {% endif %}
							</tr>
						</thead>
						<tbody>
                        {% for usuario in data %}
{#                            {% if  usuario.banned  %}#}
{#							    <tr style="background-color: #ba2121" >#}
                            {% if  not usuario.banned  %}
                                {% if usuario.dirty %}
                                        <tr style="background-color: #5bc0de">
                                {% else %}
                                    <tr>
                                {% endif %}
                                        <td>{{ forloop.counter }}</td>
                                        <td><img src="/static/img/lr_icon.png"> {{ usuario.nombre }}</td>
                                        <td>{{ usuario.clan }}</td>
    {#                                    <td>{{ usuario.kills }}</td>#}
                                        <td>{{ usuario.money }}</td>
                                        {% if isadmin %}
                                            <td>{{ usuario.id }}</td>
                                            {% if usuario.duplicated_ip > 0 %}
                                                <td style="color: white; background-color: red">{{ usuario.ip }}</td>
                                            {% else %}
                                                <td>{{ usuario.ip }}</td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                            {% endif %}
                        {% endfor %}
						</tbody>
					</table>
				</div>
    </div>


    </div>




{% endblock %}
